footer{
  background: $story;
  width: 100vw;
  height: 100vh;
  padding: 5rem 0 5rem 0;
  overflow: hidden;

  h2{
    font-weight: 200;
    margin: 0;
    display: flex;width: 100%;

    & :last-child{
      position: relative;
    }
    video{
      position: absolute;
      top: 0;left: 5%;
      height: 100%;
      width: calc(95% + 8vw);
    }
  }

  .line{
    height: 2px;
    width: 100%;
    margin: 4rem 0;
    display: block;
    background-color: $sand;
  }
  .footerFirstDiv{
    position: relative;
    height: auto;
  }
  .footerSecondDiv{
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    nav{
      justify-content: space-between;
      gap: 8vw;

      ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
        li{
          width: fit-content;
        }

        a{
          color: $sand;
          text-decoration: none;
        }
      }
    }

  }
}