/*header*/

.pageHeader{
  position: fixed;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;


  pointer-events: none;
  .textAnimStart-container{
    transition: opacity 0.3s ease;
    
    img{
      width: 8rem;
      height: inherit;
      padding-left: 2rem;
      filter: drop-shadow(0px 6px 3px #010101);

    }

  }
  ul{
    transition: opacity 0.3s ease;
  }
  nav{
    position: relative;
    z-index: 5;

    a{
      color: white;

      text-decoration: none;
      font-weight: 200;
    }
    ul{
      list-style-type: none;
      display: flex;
      gap: 2rem;
      pointer-events: all;
      padding: 3rem;
      margin: 0;



    }
    li{

      position: relative;

    }
    .stateScroll{
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }


  .hambContainer{
    display: none;
    pointer-events: all;
    cursor: pointer;
    align-items: center;
    gap: 20px;
    padding: 3rem;
    p{
      mix-blend-mode: difference;
    }
    .hamb{
      transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      display: flex;
      flex-direction: column;
      width: 22px;
      height: 14px;
      justify-content: space-between;
      margin-left: 6px;

      .line {
        width: 100%;
        height: 2px;

        background: $white;
        display: block;
        transition: transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
        transform-origin: right;
        mix-blend-mode: difference;

      }
    }
    &:hover{
      .hamb, .croix{
        transform: rotate(90deg);
      }

    }
    .croix{
      display: none;
      width: 28px;
      height: 28px;
      transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      flex-direction: column;
      justify-content: space-between;
      .croixLine1{
        height: 16px;
        transform: translate(-13%, 21%);
      }
      .croixLine2{
        height: 16px;
        transform: translate(-13%, 61%);
      }
      .croixLine1 span{

        display: block;
        width: 100%;
        height: 2px;
        background-color: $white;

        transform: rotateZ(-45deg) scaleX(0);
        transform-origin: right;
      }
      .croixLine2 span{
        transform: rotateZ(45deg) scaleX(0);
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: $white;

        transform-origin: right;
      }
    }
  }
}

//section header on click of the hamburger