/*
Error: Undefined variable: "$white".
        on line 83 of header.scss

78: 
79:       .line {
80:         width: 100%;
81:         height: 2px;
82: 
83:         background: $white;
84:         display: block;
85:         transition: transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
86:         transform-origin: right;
87:         mix-blend-mode: difference;
88: 

Backtrace:
header.scss:83
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/script/tree/node.rb:50:in `perform'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:398:in `visit_prop'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/Users/louislasserre/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/Users/louislasserre/.rbenv/versions/3.0.3/bin/sass:25:in `load'
/Users/louislasserre/.rbenv/versions/3.0.3/bin/sass:25:in `<main>'
*/
body:before {
        white-space: pre;
        font-family: monospace;
        content: "Error: Undefined variable: \"$white\".\A         on line 83 of header.scss\A \A 78: \A 79:       .line {\A 80:         width: 100%;\A 81:         height: 2px;\A 82: \A 83:         background: $white;\A 84:         display: block;\A 85:         transition: transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);\A 86:         transform-origin: right;\A 87:         mix-blend-mode: difference;\A 88: ";
}
/* .logo{
        width: 100px;
} */