/*header*/

.pageHeader {
  position: fixed;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;

  // pointer-events: none;
  .textAnimStart-container {
    transition: opacity 0.3s ease;

    img {
      width: 10rem;
      height: inherit;
      padding-left: 2rem;
      filter: drop-shadow(0px 4px 3px #010101);
    }
    img:hover {
      // background-color:white;
      transform: scale(1.1) translateX(-10px);
      transition: transform 0.9s ease;
    }
  }
  ul {
    transition: opacity 0.3s ease;
  }
  nav {
    position: relative;
    z-index: 5;

    a {
      color: black;

      text-decoration: none;
      font-weight: 200;
    }
    ul {
      list-style-type: none;
      display: flex;
      gap: 2rem;
      pointer-events: all;
      padding: 3rem;
      margin: 0;
    }
    li {
      position: relative;
    }
    .stateScroll {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }

  .hambContainer {
    display: flex;
    pointer-events: all;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 3rem;
    .hamb {
      transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      display: flex;
      flex-direction: column;
      width: 22px;
      height: 14px;
      margin-left: 6px;
      
      .line {
        width: 100%;
        height: 2px;

        background: $black;
        display: block;
        transition: transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
        transform-origin: right;
        mix-blend-mode: difference;
      }
    }
    &:hover {
      .hamb,
      .croix {
        transform: rotate(90deg);
      }
    }
    .croix {
      display: none;
      width: 28px;
      height: 28px;
      transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      flex-direction: column;
      justify-content: space-between;
      .croixLine1 {
        height: 16px;
        transform: translate(-13%, 21%);
      }
      .croixLine2 {
        height: 16px;
        transform: translate(-13%, 61%);
      }
      .croixLine1 span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: $white;

        transform: rotateZ(-45deg) scaleX(0);
        transform-origin: right;
      }
      .croixLine2 span {
        transform: rotateZ(45deg) scaleX(0);
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: $white;

        transform-origin: right;
      }
    }
    .stateScroll {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }
  }
}

//section header on click of the hamburger
