body{
  background: #2c3e50;


}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Colors */
$white: #FFFFFF;
$black: #0d0e13;
$story: #070707;
$sand: #e0ccbb;

/* Font size */
$fsh1: 20rem;
$fsh2: 13rem;
$fsh3: 1.5rem;
$fsText: 1.3rem;

//responsive
$fsh1-med: 16rem;
$fsh2-med: 9rem;
$fsh3-med: 1.4rem;
$fsText-med: 1rem;





/* Font family */
$ffLausanne300: 'Lausanne-300'